.container{
    padding: 30px 20px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.searchInput{
    padding: 7px 12px;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-bottom: 2px solid #DAC0A3;
}

.searchInput:focus {
    box-shadow: 0 4px 9px -2px #DAC0A3;
}

.selects {
    display: flex;
    gap: 20px;
}
